link-view.ProseMirror-selectednode {
  --halo-editor-link-view-box-border-color: #007bff;
}

.halo-rich-text-editor .editor-content .ProseMirror link-view {
  display: block;
  margin-top: .75em;
  margin-bottom: 0;
  pointer-events: painted;
}
